{% extends "admin/base_site.html" %}

{% block content %}
<style>
    #addlink, #deny {
        cursor: pointer;
        border: solid 1px;
        border-radius: 20px;
        color: white;
        inset-inline: 1.25;
        padding: 0.35rem 0.75rem;
        outline: none;
    }
    #addlink {
        background-color: #4ACB68;
        border-color: #4ACB68;

    }
    #addlink:hover {
        border-color: #49a55f;
        background-color: #49a55f;
    }
    #deny {
        background-color: #e63757;
        border-color: #e63757;
    }
    #deny:hover {
        background-color: #e94c69;
        border-color: #e94c69;
    }
    
</style>
<div id="content" class="flex">
    <div class="content-wrap">
        <div id="content-main">
            <ul class="object-tools" style="float: right; top: 0px; margin-bottom: 17px; margin-top: 0px;">
                <li>
                    <button href="" id="addlink">
                        Duyệt tin
                    </button>
                </li>
                <li>
                    <button href="" id="deny">
                        Hủy
                    </button>
                </li>
            </ul>
            <div class="module filtered" id="changelist">
                <div id="toolbar">
                    <form id="changelist-search" method="get" class="form-inline">
                        <div><!-- DIV needed for valid HTML -->
                            <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"/></label>
                            <input type="text" size="40" name="p" value="" id="searchbar" autofocus/>
                            <input type="submit" value="Search"/>
                        </div>
                    </form>
                </div>
            </div>

            <table id="result_list">
                <thead>
                    <tr>
                        <th scope="col"  class="sortable column-title">
                            <div class="text"><a href="?o=0">Tiêu đề</a></div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col"  class="sortable column-update_time">
                            <div class="text"><a href="?o=1">Thời gian yêu cầu</a></div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col"  class="sortable column-getCategory">
                            <div class="text"><a href="">Loại bài đăng</a></div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col"  class="">
                            <div class="text"><a href="">Người đăng</a></div>
                            <div class="clear"></div>
                        </th>
                        <th scope="col"  class="">
                            <div class="text">
                                <input type="checkbox" id="approval-all">
                                <label for="approval-all">Hành động</label>
                            </div>
                            <div class="clear"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in hh %}
                        <tr class="row1">
                            <th class="field-title"><a href="/admin/motels/post/{{ h.post_id }}/change/">{{ h.title }}</a></th>
                            <td class="field-update_time nowrap">{{ h.get_how_long }}</td>
                            <td class="field-getCategory">
                                {% if h.category == 0 %}
                                    Tìm người ở ghép
                                {% elif h.category == 1 %}
                                    Cho thuê phòng trọ
                                {% elif h.category == 2 %}
                                    Cho thuê nhà nguyên căn
                                {% elif h.category == 3 %}
                                    Cho thuê nguyên căn chung cư
                                {% endif %}
                            </td>
                            <td><a href="/admin/motels/user/{{ h.poster_id }}/change/">{{ h.email }}</a></td>
                            <td><input type="checkbox" class="approval-check-box" id="approval-post-{{ h.post_id }}" name="approval" value="{{ h.post_id }}"></td>
                        </tr>
                    {% empty %}
                        Hiện không có yêu cầu duyệt
                    {% endfor %}
                </tbody>
            </table>
        </div>  
    </div>
</div>
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('children_quan_ly_tin').className = 'active has-children';
        document.querySelector('#children_quan_ly_tin ul').style.visibility = 'hidden';
        document.getElementById('sub-nav-quan-ly-tin').style.visibility =  'visible';
        document.querySelector('#suit-sub-nav #sub-nav-quan-ly-tin').firstElementChild.className = 'active';
        document.querySelector('.breadcrumbs').style.display = 'none';

        document.querySelector('#approval-all').addEventListener('click', function() {
            document.querySelectorAll('.approval-check-box').forEach(autoCheck);
        }) 
        function autoCheck(item) {
            item.checked = document.querySelector('#approval-all').checked;
        }
        Activon('#addlink');
        Activon('#deny');

        function Activon(id) {
            document.querySelector(id).addEventListener('click', function() {
                let form = document.createElement('form');
                form.method = 'POST';
                form.action = 'post';
                let array = [];
                let checked = document.createElement('input');
                let type = document.createElement('input');
                type.name = 'type';
                type.value = id;
                document.querySelectorAll('.approval-check-box').forEach(input => {
                    if (input.checked) {
                        array.push(input.value);
                    }
                })
                checked.name = 'checked';
                checked.value = array;
                checked.style.visibility = 'hidden';
                type.style.display = 'none';
                form.append(checked, type);
                document.querySelector('body').append(form);
                if (array.length != 0) {
                    form.submit();
                }
            })
        }
        
    })
</script>

{% endblock %}
