{% extends 'myadmin/base.html' %}

{% load static %}

{% block body %}
<div class="block-body ">
    <div>
        <div class="d-flex justify-content-between">
            <div class="index-tite "><i class="far fa-clock"></i><span> Ngày hôm nay</span></div>
            <div class="">
                <label for="filter-time">Xem trong </label>
                <select id="filter-time" class="filter-time">
                    <option value="1">Hôm nay</option>
                    <option value="2">Tuần này</option>
                    <option value="3">Tháng này</option>
                    <option value="4">Năm nay</option>
                    <option value="5">Tất cả</option>
                </select>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-item">Doanh số
                <p id="finance"></p>
            </div>
            <div class="grid-item">Số tin mới
                <p id="num_post"></p>
            </div>
            <div class="grid-item">Số người dùng mới
                <p id='num_user'></p>
            </div>  
        </div>
    </div>
    
    <div>
        <div class="index-tite mt-5">
            <div><i class="fas fa-skating"></i><span> Hoạt động của bạn</span></div>
            </div>
        </div>
    </div>
    
</div>
<script>
    function convert(amount, item) {
        let modun = parseInt(amount.length/3);
        let len = amount.length;
        let arr = new Array();
        for (let i = modun; i >= 0; i--) {
            arr[i] = ',' + amount.slice((len - (modun + 1-i)*3), (len-(modun-i)*3));
            if (i === 0) {
                arr[i] = amount.slice(0, len-modun*3);
            }
        } 
        let str = arr.toString();
        let str2 = str.replace(/,,/g,",");
        if (str2[0] === ',') {
            str2 = str2.slice(1, str2.length);
            item.innerHTML = str2 + ' VND';
        }
        else {
            item.innerHTML = str2 + ' VND';
        }
    }
    function showSection(section) {
        fetch(`/dtt/api_index/${section}/`)
        .then(response => response.json())
        .then(data => {
            convert(data.finance.toString(), document.querySelector('#finance'));
            document.querySelector('#num_post').innerHTML = data.post;
            document.querySelector('#num_user').innerHTML = data.user;
        });
    }
    document.addEventListener('DOMContentLoaded', () => {
        showSection(1);
        document.querySelector('select').addEventListener('change', e => {
            document.querySelector('#finance').innerHTML = '';
            console.log(e.target.value);
            const section = e.target.value;
            showSection(section);
            convert(document.querySelector('#finance').innerHTML, document.querySelector('#finance'));
        }) 
        document.getElementById('menu-left-all').className = 'active';
    })
</script>
{% endblock %}