$color_border :#e4eff5;
$color_bg : #eaecee;
$color_brand: #0079bf;
body {
    
    padding-top: 80px;
    font-family: sans-serif;
    background-color: $color_bg;
}
.login-header {
    text-align: center;
    p {
        font-size: 30px;
        // font-family: fantasy;
        font-weight: 500;
    }
    div {
        color: #2d4857;
        margin: 10px 0px 25px 0px;
    }
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto 400px auto;
    background-color: $color_bg;
    // padding: 10px;
}
.grid-item {
    font-size: 14px;
    // border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}

form {
    padding: 25px 40px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(182, 206, 212, 0.16), 0 3px 6px rgba(190, 212, 218, 0.23);

    input[type=text], input[type=password] {
        padding: 7px;
        width: 100%;
        margin: 0px 0px 16.8px;
        outline: none;
        border-radius: 7px;
        border: 1px solid $color_border;
        background-color: $color_bg;
    }
    input[type=text]:focus, input[type=password]:focus{
        border-color: $color_brand;
        background-color: white;
    }
    input[type=submit] {
        padding: 6px;
        width: 100%;
        margin: 0px 0px 16.8px;
        font-size: 14px;
        outline: none;
        border-radius: 3px;
        border: none;
        background-color: $color_brand;
        color: white;
        opacity: 0.8;
    }
    input[type=submit]:hover{
        opacity: 1;
    }

}
.bottom {
    text-align: center;
    font-size: 12px;
    padding: 14px 26.25px;
    background-color: #cfd3d4;
    a{
        text-decoration: none;
    }
}