<div class="profile-grid-item pl-5 pt-0 pr-2 pb-3">
    <div class=" px-4 py-4">
        <div>
            {% if user.is_authenticated and user.id == profile.id %}
            <ul class="profile-vertical-menu">
                <li class="active"><a href="">Tin đăng của bạn</a></li>
                <li><a href="">Bản nháp</a></li>
                <li><a href="">Xem lại lịch sử</a></li>
                <hr>
                <li><a href="">Ví của bạn</a></li>
                <hr>
                <li><a href="{% url 'post_saved' user.get_full_name_link %}">Đã lưu</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>