{% extends 'motels/base.html' %}

{% load static %}

{% block body %}
<div class="profile px-3">
    <div class="profile-grid-item pl-5 pt-4 pr-2 py-3">
        <div class="box shadow-sm px-4 py-4">
            <div>
                <p class="full-name">{{ profile.get_full_name }}</p>
                <p class="font-weight-light date-join"><i class="far fa-calendar-alt"></i>  {{ profile.get_date_joined }}</p>
            </div>
            {% if user.is_authenticated and user.id == profile.id %}
                <button id="profile-edit-Btn" class="profile-edit-Btn">Chỉnh sửa hồ sơ</button>
            {% endif %}
        </div>
    </div>
    <div class="profile-grid-item pl-1 pt-4 pr-5 py-3">
        <div class="box shadow-sm px-4 py-4">
            {% if user.is_authenticated and user.id == profile.id %}
                <a class="nav-link" id="link-button-create_post" href="{% url 'create_post_category' %}">Đăng tin</a>
            {% endif %}
        </div>
    </div>
</div>

{% if user.is_authenticated and user.id == profile.id %}
<div id="profile-edit-modal" class="modal">
    <div class="modal-content shadow-lg">
        <div class="modal-content-info">
            <div class="row motel-row-header">
                <div class="col-sm-8">
                    <div class="modal-content-header my-3">Chỉnh sửa hồ sơ của bạn</div>
                </div>
                <div class="col-sm-4">
                    <span class="close">&times;</span>
                </div>
            </div>
            <div class="row motel-row-body pt-4 px-3">
                <div class="col-sm-8 pr-4" id="motel-profile-form">
                    <form id="editProForm" action="{% url 'save_profile' %}" method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6 mb-3">
                                <label for="last_name">Họ</label>
                                <input id="last_name"  name="last_name" class="form-control " type="text" placeholder="Họ">
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label for="first_name">Tên</label>
                                <input id="first_name" name="first_name" class="form-control " type="text" placeholder="Tên">
                            </div>
                        </div>
                        <div>
                            <label for="user_address">Địa chỉ</label>
                            <select name="address"  id="user_address">
                            </select>
                        </div>
                        
                        <div class="mt-4"><input type="button"  id='editProBtn' value="Lưu"></div>
                        
                    </form>
                </div>
                <div class="col-sm-4">
                    <img src="{{MEDIA_URL}}default.png" class="img-thumbnail mg-fluid rounded-circle" alt="Ảnh đại diện của bạn">
                </div>
            </div>
        </div>
    </div>
</div>


{% endif %}
<script src="{% static 'motels/profile.js' %}"></script>
{% endblock %}