{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Tìm nhà trọ{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/5154b845b0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'motels/styles.css' %}">
    </head>
    <body class="register-body">
            

        <div class="register pb-5">
            <div class="container px-0">
                <div class="row">
                    <div class="col-md-4 pt-5">
                    </div>
                    <div class="col-md-4 px-0 pt-5">
                        <a href="{% url 'index' %}"><span>Rao nhà trọ</span></a>
                        <form autocomplete="off" class="px-4 py-5 shadow" action="{% url 'register' %}" method="POST" novalidate>
                            <p class="form-head d-flex justify-content-center mb-5">Đăng ký tài khoản</p>
                            {% load crispy_forms_tags %}
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-0">
                                    {{ form.last_name|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-6 mb-0">
                                    {{ form.first_name|as_crispy_field }}
                                </div>
                            </div>
        
                            {{ form.email|as_crispy_field }}
                            {{ form.password1|as_crispy_field }}
                            {{ form.password2|as_crispy_field }}
        
                            <input type="submit" class="btn my-3" value="Đăng ký"/>
                            <div class="d-flex justify-content-center">Bạn đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập tại đây.</a></div>  
                            </form>
                    </div>
                    <div class="col-md-4 pt-5">
                    </div>
                </div>
            </div>
        </div>
    </body>
    
</html>