$body_bg: #fafafa;

$base_menu_bg: #f6c90e;

$white_color: white;

$base_menu_color: #4b4b4b;

$border_box: 3px; 

$border_button: 7px;

$button_color: #4aac44;

$button_hover_color: #2Ebc4f;

$border_input_color: #bdc3c7;

$button_color_hover: #e9ebee;

$button_color_2: #f5f6f7;

.base-body {
    font-size: 15px;
    line-height: 1;
    background-color: $body_bg;
}

select {
    border-radius: $border_button;
    height: 32px;
    padding: 0px 12px 0px 12px;
    font-size: 14px;
    cursor: auto;
    color: $base_menu_color;
    border: solid 1px $border_input_color;
    width: 100%;
}
select:focus {
    outline: none;
}
option {
    color: $base_menu_color;
    background: $white_color;
}
option:checked {
    background-color: $border_input_color;
    color: $white_color;
}
%inputsubmit {
    
    input[type=button], input[type=submit] {
        color: $white_color;
        border: none;
        cursor: pointer;
        border-radius: $border_box;
        background-color: $button_color;
    }
    input[type=button]:hover, input[type=submit]:hover {
        background-color: $button_hover_color;
        transition: 0.3s;
    }
}

%inputtext {
    input {
        
        border-radius: $border_button;
        height: 32px;
        padding: 0px 12px 0px 12px;
        font-size: 14px;
        cursor: auto;
        border: solid 1px $border_input_color;
    }
    input:focus {
        outline: none;
        cursor: auto;
        border-color: #838080;
    }
}
// Cho menu
.base-menu {
    line-height: 1;
    font-weight: bold;
    line-height: 1;
    overflow: hidden;
    background-color: $base_menu_bg;

    %base-menu-a {
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        // font-size: 15px;
    }
    .base-menu-left {
        @extend %base-menu-a;
        // padding: 10px 12px;
        float: left;
    }

    .base-menu-right {
        @extend %base-menu-a;
        float: right;
    }

    a:hover,  a.active {
        color: $base_menu_color; 
    }

    .base-menu-avatar-mini{
        width: inherit;
        overflow: hidden;
        margin-top: -4px;
    }

    .search-container{
        float: left;
        input[type=text] {
            outline: none;
            padding: 6px;
            margin: 6px 0px 6px 10px;
            border: none;
            border-radius: $border_button 0px 0px $border_button;
            width: 220px;
            -webkit-transition: width .35s ease-in-out;
            transition: width .35s ease-in-out;
        }
        input[type=text]:focus {
            width: 400px;
        }
        button {
            border-radius: 0px $border_button $border_button 0px;
            float: right;
            padding: 9px 10px;
            margin-top: 6px;
            margin-bottom: 6px;
            background: $white_color;
            font-size: 14px;
            border: none;
            cursor: pointer;

            i {
                color: $base_menu_bg;
            }
        }
        button:hover {
            background: $body_bg;
            transition: 0.3s;   
        }
    }  
}

// Cho trang đăng ký
.register-body { 
    .base-menu {
        background-color: $white_color;
        i {
            color: $base_menu_bg;
            font-size: 30px;
        }
        p {
            color: $base_menu_color;
            font-size: 20px;
            margin-top: 23px;
            margin-bottom: 0px;
        }
    }
    .register {
        background-color: $base_menu_bg;

        .register-icon {
            color: $white_color;
            font-size: 150px;
        }
        .brand {
            color: $white_color;
            font-size: 60px;
            font-family: fantasy;
        }
        form {
            border-radius: 3%;
            input {
                border: 2px solid $border_input_color;
            }
            
            @extend %inputsubmit;

            input[type=submit] {
                width: 100%;
                height: 50px;
                font-weight: bold;
            }

            .form-head {
                font-size: 20px;
                color: $base_menu_color;
                font-weight: bold;
            }
        }
        h1 {
            color: $white_color;
            font-size: 40px;
        }
    }
}

// Cho trang cá nhân
.profile {
    color: $base_menu_color;
    display: grid;
    grid-template-columns: 380px auto;
    padding: 0px;

    .profile-grid-item {
        // border: 1px solid rgba(0, 0, 0, 0.8);
        // padding: 15px 10px 15px 50px;

        .box {
            background-color: $white_color;
            // margin-top: 0px;
            border-radius: $border_box;
            .date-join, .full-name {
                cursor: pointer;
            }
            .full-name {
                font-size: 18px;
                font-weight: 500;
            }

            i {
                opacity: 0.6;
                margin-right: 3px;
                
            }

            #profile-edit-Btn {
                padding: 9px;
                border: none;
                border-radius: $border_button;
                width: 100%;
                background-color: $button_color_2;
                font-size: 14px;
                cursor: pointer;
            }
            #profile-edit-Btn:hover {
                background-color: $button_color_hover;
                transition: 0.3s;
            }
            #profile-edit-Btn:focus {
                
                outline: none;
            }
            #link-button-create_post {
                display: inline-block;
                border-radius: $border_box;
                height: 32px;
                font-size: 14px;
                
                text-align: center;
                text-decoration: none;

                color: $white_color;
                border: none;
                background-color: $button_color;
                transition: 0.3s;
            }
            #link-button-create_post:hover {
                background-color: $button_hover_color;
            }
        }
    }
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */

    .modal-content {
        background-color: $white_color;
        margin: auto;
        border-radius: $border_box;
        display: block;
        border: 1px solid $button_color_hover;
        // width: 15%;
        // height: 30%;
        animation-name: grow;
        animation-duration: 1.8s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-content-info {
        animation-name: grow-child;
        animation-duration: 1.9s;
        animation-fill-mode: forwards;
        opacity: 0;

        .motel-row-header {
            background-color: $button_color_hover;
            margin: 0;
            border-radius: $border_box $border_box 0px 0px;

            .modal-content-header {
                font-weight: bold;
            }

        }
        .motel-row-body {
            
            @extend %inputtext;
            
            @extend %inputsubmit;

            
        }
    }

}
@keyframes grow {
    0% {
        opacity: 0;
        width: 15%;
        height: 15%;
    }
    20% {
        opacity: 1;
        width: 15%;
        height: 15%;
    }
    40% {
        opacity: 1;
        width: 15%;
        height: 15%;
    }
    
    100% {
        width: 50%;
        height: 60%;
        opacity: 1;
    }
}
@keyframes grow-child {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0.001;
    }
    100% {
        opacity: 1;
    }
}

// Cho trang thêm tin
.create_post {
    color: $base_menu_color;
    padding: 0px;

    .create_post_body{
        background-color: $white_color;
        border-radius: $border_box;

        i {
            color: $base_menu_color;
        }

        @extend %inputtext;

        label {
            padding-left: 0px;
            margin: auto auto auto 0px;
            text-align: center;
            font-weight: 500;
            text-align: left;
        }
        .row {
            margin: 0px 0px 0px 0px;
        }
        #create_post_title, #create_post_area {
            border-right: none;
            color: $base_menu_color;
            border-radius: 7px 0px 0px 7px !important;
        }
        #create_post_title {
            width: 94.3%;
            
            position: relative;
        }
        #create_post_area {
            width: 10%;
        }
        textarea {
            border: solid 1px $border_input_color;
        }
        .form-suffix {
            position: absolute;
            font-size: 13px;
            margin-left: -4px;
            text-align: center;
            border-radius: 0px 7px 7px 0px;
            height: 32px;
            background-color: $white_color;
            border-right: 1px solid $border_input_color;
            border-top: 1px solid $border_input_color;
            border-bottom: 1px solid $border_input_color;
            border-left: none;
            background-color: $border_input_color;
            
        }
        .form-suffix:hover {
            background-color: $button_color_hover;
        }

        .type_post {
            background-color: $body_bg;
            padding: 20px 15px;
            width: 600px;
        
            ul {
                border-top: $white_color solid 7px;
                border-bottom: $white_color solid 7px;
                // width: 250px;
                padding-right: 0px;
                margin-top: auto;
                margin-bottom: auto;
                padding-left: 1px;
                background-color: $white_color;
                

            }
            .first-ul {
                overflow-x: hidden;
                overflow-y: scroll;
            }
            li {
                // width: 200px;
                padding: 7px 14px;
                list-style: none;
            }
            li:hover {
                background-color: $button_color_hover;
                cursor: pointer;
            }
            .type_post_renter {
                position: relative;
                i {
                    position: absolute;
                    right: 10px;
                    color: $border_input_color;
                }
            }
            .type_post_hidden {
                visibility: hidden;
            }
           
        } 
        p>span {
            color: $base_menu_bg;
        }
    
    }
    #create_post_next {
        background-color: $base_menu_bg;
        color: $white_color;
        // font-weight: 500;
        border: none;
        cursor: pointer;
        width: 130px;
    }

    #create_post_next:disabled {
        opacity: 0.5;
        cursor: auto;
    }
    .create_post_head{
        font-size: 19px;
        font-weight: 500;
    }
}