@charset "UTF-8";
.base-body {
  font-size: 14px;
  line-height: 1;
  background-color: #fafafa;
}

input {
  color: #4b4b4b;
}

select {
  border-radius: 7px;
  height: 32px;
  padding: 0px 12px 0px 12px;
  font-size: 14px;
  cursor: auto;
  color: #4b4b4b;
  border: solid 1px #bdc3c7;
  width: 100%;
}

select:focus {
  outline: none;
}

option {
  color: #4b4b4b;
  background: white;
}

option:checked {
  background-color: #bdc3c7;
  color: white;
}

.modal .modal-content-info .motel-row-body input[type=button], .register-body .register form input[type=button], .modal .modal-content-info .motel-row-body input[type=submit], .register-body .register form input[type=submit] {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #e63757;
}
.modal .modal-content-info .motel-row-body input[type=button]:hover, .register-body .register form input[type=button]:hover, .modal .modal-content-info .motel-row-body input[type=submit]:hover, .register-body .register form input[type=submit]:hover {
  background-color: #e63757;
  transition: 0.3s;
}

.modal .modal-content-info .motel-row-body input {
  outline: none;
  border-radius: 7px;
  height: 32px;
  padding: 0px 12px 0px 12px;
  font-size: 14px;
  cursor: auto;
  border: solid 1px #e9ebee;
}
.modal .modal-content-info .motel-row-body input:focus {
  outline: none;
  cursor: auto;
  border-color: #bdc3c7;
}

.profile-post-pre-avatar {
  object-fit: cover;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid none;
}

.base-menu {
  font-weight: 500;
  overflow: hidden;
  background-color: white;
}
.base-menu .base-menu-right, .base-menu .base-menu-left {
  text-align: center;
  text-decoration: none;
}
.base-menu .base-menu-left {
  color: #e63757;
  padding: 12px 16px;
  font-family: fantasy;
  font-size: 20px;
  float: left;
}
.base-menu .base-menu-right {
  color: #4b4b4b;
  float: right;
  padding: 9px 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 10px;
  background-color: #f5f6f7;
  border-radius: 20px;
}
.base-menu .base-menu-add-post::before {
  content: "+";
  margin-right: 5px;
  padding: 0px 5px;
  border-radius: 50%;
  background-color: #bdc3c7;
}
.base-menu a.base-menu-right:hover {
  background-color: #e9ebee;
}
.base-menu .ava-dropdown {
  display: block;
  float: right;
}
.base-menu .ava-dropdown .ava-dropdown-btn {
  padding: 6px 16px 0px 22px;
  cursor: pointer;
}
.base-menu .ava-dropdown .ava-dropdown-content {
  display: none;
  position: absolute;
  border: solid #e9ebee;
  border-width: 1px;
  border-radius: 3px;
  right: 50px;
  background-color: white;
  min-width: 160px;
  padding: 5px 0px 5px 0px;
  box-shadow: 0 20px 20px rgba(168, 167, 167, 0.12), 0 10px 10px rgba(209, 207, 207, 0.24);
  z-index: 1;
}
.base-menu .ava-dropdown .ava-dropdown-content a {
  color: #4b4b4b;
  padding: 7px 40px 7px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 400;
}
.base-menu .ava-dropdown .ava-dropdown-content a:hover {
  color: white;
  background-color: #e63757;
}
.base-menu .ava-dropdown:hover .ava-dropdown-content {
  display: block;
}
.base-menu .ava-dropdown:hover .ava-dropdown-btn .profile-post-pre-avatar {
  border: 1px solid #bdc3c7;
}
.base-menu .search-container {
  float: left;
}
.base-menu .search-container input[type=text] {
  outline: none;
  padding: 6px 6px 6px 12px;
  margin: 6px 0px 6px 10px;
  border-radius: 15px 0px 0px 15px;
  width: 220px;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
  border: 1px solid #bdc3c7;
  border-right: none;
}
.base-menu .search-container input[type=text]:focus {
  width: 400px;
}
.base-menu .search-container button {
  border-radius: 0px 15px 15px 0px;
  float: right;
  padding: 8.5px 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  background: white;
  font-size: 14px;
  border: 1px solid #bdc3c7;
  border-left: none;
  cursor: pointer;
}
.base-menu .search-container button i {
  color: #bdc3c7;
}
.base-menu .search-container button:hover {
  background: #fafafa;
  transition: 0.3s;
}

.search2 {
  float: left;
  padding: none;
  height: 32px;
  border: 1px solid #bdc3c7;
  border-radius: 7px;
}
.search2 input[type=text] {
  outline: none;
  width: 350px;
  padding: 5px 5px 5px 12px;
  border: none;
  border-radius: 7px 0px 0px 7px;
}
.search2 button {
  border-radius: 0px 7px 7px 0px;
  float: right;
  padding: 8px 10px;
  background: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.search2 button i {
  color: #e9ebee;
}
.search2 button:focus {
  outline: none;
}

.search2:hover {
  border-color: #97b4e0;
  transition: 0.3s;
}

.register-body .base-menu {
  background-color: white;
}
.register-body .base-menu i {
  color: #e63757;
  font-size: 30px;
}
.register-body .base-menu p {
  color: #4b4b4b;
  font-size: 20px;
  margin-top: 23px;
  margin-bottom: 0px;
}
.register-body .register {
  background-color: #e63757;
}
.register-body .register .register-icon {
  color: white;
  font-size: 150px;
}
.register-body .register .brand {
  color: white;
  font-size: 60px;
  font-family: fantasy;
}
.register-body .register form {
  border-radius: 3%;
}
.register-body .register form input {
  border: 2px solid #bdc3c7;
}
.register-body .register form input[type=submit] {
  width: 100%;
  height: 50px;
  font-weight: bold;
}
.register-body .register form .form-head {
  font-size: 20px;
  color: #4b4b4b;
  font-weight: bold;
}
.register-body .register h1 {
  color: white;
  font-size: 40px;
}

.profile-edit-Btn {
  padding: 9px;
  border: none;
  border-radius: 7px;
  width: 100%;
  background-color: #f5f6f7;
  font-size: 14px;
  cursor: pointer;
}

.profile-edit-Btn:hover {
  background-color: #e9ebee;
  transition: 0.3s;
}

.profile-edit-Btn:focus {
  outline: none;
}

.profile {
  color: #4b4b4b;
  display: grid;
  grid-template-columns: 310px auto;
  padding: 0px;
}

.profile-grid-item .profile-vertical-menu {
  list-style-type: none;
  padding: 0px;
  line-height: 1.5;
}
.profile-grid-item .profile-vertical-menu li {
  padding: 5px 6px 5px 6px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 1px;
  border: 1px solid #fafafa;
}
.profile-grid-item .profile-vertical-menu li:hover:not(.active) {
  border-color: #f5f6f7;
  background-color: white;
}
.profile-grid-item .profile-vertical-menu li:hover:not(.active) a {
  color: #e63757;
}
.profile-grid-item .profile-vertical-menu .active {
  font-weight: 500;
  background-color: white;
  border-color: #f5f6f7;
}
.profile-grid-item .profile-vertical-menu .active a {
  color: #e63757;
}
.profile-grid-item .profile-vertical-menu li > a {
  color: #4b4b4b;
  text-decoration: none;
}
.profile-grid-item .box {
  background-color: white;
  border-radius: 3px;
}
.profile-grid-item .date-join, .profile-grid-item .full-name {
  cursor: pointer;
}
.profile-grid-item .full-name {
  font-size: 18px;
  font-weight: 500;
}
.profile-grid-item i {
  color: #bdc3c7;
  margin-right: 3px;
}
.profile-grid-item #link-button-create_post {
  display: inline-block;
  border-radius: 3px;
  height: 32px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: none;
  background-color: #e63757;
  transition: 0.3s;
}
.profile-grid-item #link-button-create_post:hover {
  background-color: #e63757;
}
.profile-grid-item .profile-horizontal-menu {
  list-style-type: none;
  padding: 0px;
  margin: none;
  border-bottom: solid 1px #e9ebee;
}
.profile-grid-item .profile-horizontal-menu li {
  display: inline-block;
  margin: none;
  padding: 15px 20px 15px 20px;
  border-bottom: solid 2.5px white;
}
.profile-grid-item .profile-horizontal-menu li:hover:not(.active) {
  cursor: pointer;
  border-bottom: solid 2.5px #95aac9;
}
.profile-grid-item .profile-horizontal-menu li > a {
  color: #4b4b4b;
}
.profile-grid-item .profile-horizontal-menu li > a:hover {
  text-decoration: none;
}
.profile-grid-item .profile-horizontal-menu .active {
  border-bottom: solid 2.5px #e63757;
}
.profile-grid-item .profile-horizontal-menu .active a {
  font-weight: 500;
  color: #e63757;
}
.profile-grid-item .profile-post-pre .pre-post-link-pro {
  color: #4b4b4b;
  font-weight: 500;
}
.profile-grid-item .profile-post-pre .pre-post-link-ava {
  text-decoration: none;
}
.profile-grid-item .profile-post-pre .profile-post-pre-image {
  object-fit: cover;
  border-radius: 3px;
  height: 100px;
}
.profile-grid-item .profile-post-pre .update-time, .profile-grid-item .profile-post-pre .pre-post-address, .profile-grid-item .profile-post-pre .pre-post-description {
  color: #95aac9;
  font-size: 14px;
}
.profile-grid-item .profile-post-pre .pre-post-description {
  display: flex;
}
.profile-grid-item .profile-post-pre .pre-post-description span {
  display: inline-block;
  /* <- Prevent <tr> in a display css */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile-grid-item .profile-post-pre .update-time span {
  color: #e63757 !important;
}
.profile-grid-item .profile-post-pre .text-capitalize {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #4b4b4b;
  cursor: pointer;
}
.profile-grid-item .profile-post-pre .pre-post-address {
  position: absolute;
  bottom: 0px;
}
.profile-grid-item .profile-post-pre .rent-center {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0%, -50%);
}
.profile-grid-item .profile-post-pre .rent-center p {
  margin: 0px;
  color: #e63757;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/ opacity */
}
.modal .modal-content {
  background-color: white;
  margin: auto;
  border-radius: 3px;
  display: block;
  border: 1px solid #e9ebee;
  animation-name: grow;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.modal .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content-info {
  animation-name: grow-child;
  animation-duration: 1.9s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.modal .modal-content-info .motel-row-header {
  background-color: #e9ebee;
  margin: 0;
  border-radius: 3px 3px 0px 0px;
}
.modal .modal-content-info .motel-row-header .modal-content-header {
  font-weight: bold;
}
@keyframes grow {
  0% {
    opacity: 0;
    width: 15%;
    height: 15%;
  }
  20% {
    opacity: 1;
    width: 15%;
    height: 15%;
  }
  40% {
    opacity: 1;
    width: 15%;
    height: 15%;
  }
  100% {
    width: 50%;
    height: 60%;
    opacity: 1;
  }
}
@keyframes grow-child {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0.001;
  }
  100% {
    opacity: 1;
  }
}
.create_post {
  color: #4b4b4b;
  padding: 0px;
}
.create_post input[type=text], .create_post input[type=number], .create_post input[type=submit], .create_post #button_post {
  outline: none;
  border-radius: 7px;
  height: 32px;
  padding: 0px 12px 0px 12px;
  font-size: 14px;
  cursor: auto;
  border: solid 1px #bdc3c7;
}
.create_post input[type=text]::placeholder, .create_post input[type=number]::placeholder {
  color: #bdc3c7;
}
.create_post textarea {
  outline-color: #e63757;
}
.create_post input[type=text]:focus, .create_post input[type=number]:focus {
  cursor: auto;
  border-color: #e63757;
}
.create_post .create_post_body {
  background-color: white;
  border-radius: 3px;
}
.create_post .create_post_body i {
  color: #4b4b4b;
}
.create_post .create_post_body label {
  padding-left: 0px;
  margin: auto auto auto 0px;
  text-align: center;
  font-weight: 500;
  text-align: left;
}
.create_post .create_post_body .row {
  margin: 0px 0px 0px 0px;
}
.create_post .create_post_body #create_post_title, .create_post .create_post_body #create_post_area {
  border-right: none;
  color: #4b4b4b;
  border-radius: 7px 0px 0px 7px !important;
}
.create_post .create_post_body #create_post_title {
  width: 95.5%;
  position: relative;
}
.create_post .create_post_body .detailed_address {
  width: 100%;
}
.create_post .create_post_body #create_post_area {
  width: 10%;
}
.create_post .create_post_body textarea {
  width: 60%;
  border: solid 1px #bdc3c7;
}
.create_post .create_post_body .form-suffix {
  position: absolute;
  font-size: 13px;
  margin-left: -4px;
  text-align: center;
  border-radius: 0px 7px 7px 0px;
  height: 32px;
  background-color: white;
  border-right: 1px solid #bdc3c7;
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  border-left: none;
  background-color: #e9ebee;
}
.create_post .create_post_body .form-suffix:hover {
  background-color: #bdc3c7;
}
.create_post .create_post_body .type_post {
  background-color: #fafafa;
  padding: 20px 15px;
  width: 600px;
}
.create_post .create_post_body .type_post ul {
  border-top: white solid 7px;
  border-bottom: white solid 7px;
  padding-right: 0px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 1px;
  background-color: white;
}
.create_post .create_post_body .type_post .first-ul {
  overflow-x: hidden;
  overflow-y: scroll;
}
.create_post .create_post_body .type_post li {
  padding: 7px 14px;
  list-style: none;
}
.create_post .create_post_body .type_post li:hover {
  background-color: #e9ebee;
  cursor: pointer;
}
.create_post .create_post_body .type_post .type_post_renter {
  position: relative;
}
.create_post .create_post_body .type_post .type_post_renter i {
  position: absolute;
  right: 10px;
  color: #bdc3c7;
}
.create_post .create_post_body p > span {
  color: #e63757;
}
.create_post .create_post_body .address, .create_post .create_post_body .type_post_hidden {
  color: #e63757;
  visibility: hidden;
}
.create_post .create_post_body .label-radio, .create_post .create_post_body .type_post_hidden, .create_post .create_post_body .create_post_rent {
  font-weight: normal;
}
.create_post .create_post_body .classified-info {
  background-color: #fafafa;
  width: 60%;
}
.create_post .create_post_body input[type=file]::-webkit-file-upload-button {
  display: none;
}
.create_post .create_post_body input[type=file] {
  width: 77px;
  outline: none;
}
.create_post .create_post_body .post-image div {
  cursor: pointer;
  font-size: 20px;
  margin-right: 3px;
  position: relative;
  display: inline-block;
}
.create_post .create_post_body .post-image span {
  font-weight: 500;
  cursor: pointer;
  top: 0px;
  position: absolute;
  right: 7px;
}
.create_post .create_post_body .post-image span:hover {
  color: #f5f6f7;
}
.create_post .create_post_body .post-image img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.create_post .create_post_body input[type=file]::before {
  vertical-align: auto;
  content: "Ảnh";
  background-color: #e9ebee;
  display: inline-block;
  border-radius: 7px;
  padding: 8px 22px;
  cursor: pointer;
  outline: none;
}
.create_post .create_post_body input[type=file]:hover::before {
  background-color: #bdc3c7;
  transition: 0.3s;
}
.create_post .create_post_body .other_contact_info {
  background-color: #fafafa;
  width: 55%;
  margin: auto;
}
.create_post #create_post_next, .create_post #button_post {
  background-color: #e63757;
  color: white;
  border: none;
  cursor: pointer;
  width: 130px;
}
.create_post #create_post_next:hover, .create_post #button_post:hover {
  opacity: 0.9;
}
.create_post #create_post_next:disabled, .create_post #button_post:disabled {
  opacity: 0.5;
  cursor: pointer;
}
.create_post #button_save:hover, .create_post #button_delete:hover {
  background-color: #e9ebee;
  cursor: pointer;
}
.create_post .create_post_head {
  font-size: 19px;
  font-weight: 500;
}
.create_post #create_post_list_button {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.index {
  color: #4b4b4b;
  display: grid;
  grid-template-columns: auto 400px;
  padding: 0px;
}
.index .index-avatar {
  object-fit: cover;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid none;
}
.index .index-full-name {
  color: #4b4b4b;
  font-weight: 500;
}
.index .index-saved-posts > .mr-auto {
  font-weight: 500;
  color: #bdc3c7;
}
.index a:not(.update-time) {
  text-decoration: none;
}
.index .fa-bookmark {
  font-size: 20px;
  cursor: pointer;
}
.index .fa-bookmark:hover {
  color: #4b4b4b;
  transition: 0.2s;
}

/*# sourceMappingURL=styles.css.map */
