$body_bg: #fafafa;

$base_menu_bg: #e63757;

$white_color: white;

$base_menu_color: #4b4b4b;

$border_box: 3px; 

$border_button: 7px;

$button_color: #e63757;

$button_hover_color: #e63757;

$border_input_color: #bdc3c7;

$button_color_hover: #e9ebee;

$button_color_2: #f5f6f7;

$opacity_color: #95aac9;
.base-body {
    font-size: 14px;
    line-height: 1;
    background-color: $body_bg;
}
input {
    color: $base_menu_color;
}
select {
    border-radius: $border_button;
    height: 32px;
    padding: 0px 12px 0px 12px;
    font-size: 14px;
    cursor: auto;
    color: $base_menu_color;
    border: solid 1px $border_input_color;
    width: 100%;
}
select:focus {
    outline: none;
}
option {
    color: $base_menu_color;
    background: $white_color;
}
option:checked {
    background-color: $border_input_color;
    color: $white_color;
}
%inputsubmit {
    
    input[type=button], input[type=submit] {
        color: $white_color;
        border: none;
        cursor: pointer;
        border-radius: $border_box;
        background-color: $button_color;
    }
    input[type=button]:hover, input[type=submit]:hover {
        background-color: $button_hover_color;
        transition: 0.3s;
    }
}

%inputtext {
    input {
        outline: none;
        border-radius: $border_button;
        height: 32px;
        padding: 0px 12px 0px 12px;
        font-size: 14px;
        cursor: auto;
        border: solid 1px $button_color_hover
    }
    input:focus {
        outline: none;
        cursor: auto;
        border-color: $border_input_color;
    }
}
            
%title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@keyframes remove {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
    }
    50% {
        opacity: 0.4;
        height: 50%;
        line-height: 50%;
        padding: 0px;
        margin-bottom: 50%;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}
// Cho menu

.profile-post-pre-avatar {
    object-fit:cover; 
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid none;
}
.base-menu {
    font-weight: 500;
    overflow: hidden;
    background-color: $white_color;

    %base-menu-a {
        text-align: center;
        text-decoration: none;
    }
    .base-menu-left {
        @extend %base-menu-a;
        color: $button_color;
        padding: 12px 16px;
        font-family: fantasy;
        font-size: 20px;
        float: left;
    }

    .base-menu-right {
        @extend %base-menu-a;
        color: $base_menu_color;
        float: right;
        padding: 9px 10px;
        margin-top: 6px;
        margin-bottom: 6px;
        margin-left: 10px;
        background-color: $button_color_2;
        border-radius: 20px;    
    }
    .base-menu-add-post::before{
        content: '\002B';
        margin-right: 5px;
        padding: 0px 5px;
        border-radius: 50%;
        background-color: $border_input_color;
    }
    a.base-menu-right:hover{
        background-color: $button_color_hover;
    }
    // Cho dropdown menu ở avatar
    .ava-dropdown {
        display: block;
        float: right;
        .ava-dropdown-btn {
            padding: 6px 16px 0px 22px;
            cursor: pointer;
        }

        .ava-dropdown-content {
            display: none;
            position: absolute;
            border: solid $button_color_hover;
            border-width: 1px;
            border-radius: 3px;
            right: 50px;
            background-color: $white_color;
            min-width: 160px;
            padding: 5px 0px 5px 0px;
            box-shadow: 0 20px 20px rgba(168, 167, 167, 0.12), 0 10px 10px rgba(209, 207, 207, 0.24);
            z-index: 1;

            a {
                color: $base_menu_color;
                padding: 7px 40px 7px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
                font-weight: 400;
            }
            a:hover {
                color: $white_color;
                background-color: $button_color;
                // font-weight: 500;
            }
            
        }
    }
    .ava-dropdown:hover .ava-dropdown-content{
        display: block;
    }
    .ava-dropdown:hover .ava-dropdown-btn .profile-post-pre-avatar{
        border: 1px solid $border_input_color;
    }

    

    .search-container{
        float: left;
        input[type=text] {
            outline: none;
            padding: 6px 6px 6px 12px;
            margin: 6px 0px 6px 10px;
            
            border-radius: 15px 0px 0px  15px;
            width: 220px;
            -webkit-transition: width .35s ease-in-out;
            transition: width .35s ease-in-out;
            border: 1px solid $border_input_color;
            border-right: none;
        }
        input[type=text]:focus {
            width: 400px;
        }
        button {
            border-radius: 0px 15px 15px 0px;
            float: right;
            padding: 8.5px 10px;
            margin-top: 6px;
            margin-bottom: 6px;
            background: $white_color;
            font-size: 14px;
            border: 1px solid $border_input_color;
            border-left: none;
            cursor: pointer;

            i {
                color: $border_input_color;
            }
        }
        button:hover {
            background: $body_bg;
            transition: 0.3s;   
        }
    }  
}
.search2 {
    float: left;
    padding: none;
    height: 32px;
    border: 1px solid $border_input_color;
    border-radius: $border_button;
    // width: 400px;
    
    input[type=text] {
        outline: none;
        width: 350px;
        padding: 5px 5px 5px 12px;
        border: none;
        border-radius: $border_button 0px 0px $border_button;
    }
    button {
        border-radius: 0px $border_button $border_button 0px;
        float: right;
        padding: 8px 10px;

        background: $white_color;
        font-size: 14px;
        border: none;
        cursor: pointer;

        i {
            color: $button_color_hover;
        }
    }
    button:focus {
        outline: none;
    }
}
.search2:hover {
    border-color: #97b4e0;
    transition: 0.3s;
}
// Cho trang đăng ký
.register-body { 
    background-color: $button_color_2;
    .register {
        text-align: center;
        a {
            text-decoration: none;
            span {  
                @extend %base-menu-a;   
                color: $button_color;
                padding: 12px 16px;
                font-family: fantasy;
                font-size: 20px;
            }
            
            
        }
        .register-icon {
            color: $white_color;
            font-size: 150px;
        }
        .brand {
            color: $white_color;
            font-size: 60px;
            font-family: fantasy;
        }
        form {
            margin-top: 60px;
            background-color: $white_color;
            border-radius: 3%;
            
            @extend %inputtext;
            @extend %inputsubmit;

            input[type=submit] {
                width: 100%;
                height: 40px;
                font-weight: bold;
            }

            .form-head {
                font-size: 20px;
                color: $base_menu_color;
                font-weight: bold;
            }
        }
        h1 {
            color: $white_color;
            font-size: 40px;
        }
    }
}

// Cho trang cá nhân
.profile-edit-Btn{
    padding: 9px;
    border: none;
    border-radius: $border_button;
    width: 100%;
    background-color: $button_color_2;
    font-size: 14px;
    cursor: pointer;
}
.profile-edit-Btn:hover {
    background-color: $button_color_hover;
    transition: 0.3s;
}
.profile-edit-Btn:focus {
    outline: none;
}
.profile {
    color: $base_menu_color;
    display: grid;
    grid-template-columns: 310px auto;
    padding: 0px;
}
.profile-grid-item {

    .profile-vertical-menu {
        list-style-type: none;
        padding: 0px;
        line-height: 1.5;
        li {
            padding: 5px 6px 5px 6px;
            cursor: pointer;
            border-radius: $border_box;
            margin-bottom: 1px;
            border: 1px solid $body_bg;
        }
        li:hover:not(.active)  {
            a {
                color: $button_color;
            }
            border-color: $button_color_2;
            background-color: $white_color;
        }
        .active {
            font-weight: 500;
            background-color: $white_color;
            border-color: $button_color_2;
            a {
                color: $button_color;
            }
        }
        li>a {
            color: $base_menu_color;
            text-decoration: none;
        }
    }
    .box {
        background-color: $white_color;
        border-radius: $border_box;
    }
        .date-join, .full-name {
            cursor: pointer;
        }
        .full-name {
            font-size: 18px;
            font-weight: 500;
        }

        i {
            color: $border_input_color;
            margin-right: 3px;
            
        }

        #link-button-create_post {
            display: inline-block;
            border-radius: $border_box;
            height: 32px;
            font-size: 14px;
            
            text-align: center;
            text-decoration: none;

            color: $white_color;
            border: none;
            background-color: $button_color;
            transition: 0.3s;
        }
        #link-button-create_post:hover {
            background-color: $button_hover_color;
        }
        .profile-horizontal-menu {
            list-style-type: none;
            padding: 0px;
            margin: none;
            // font-size: 15px;
            
            border-bottom: solid 1px $button_color_hover;
            li {
                cursor: pointer;
                display: inline-block;
                margin: none;
                padding: 15px 20px 15px 20px;
                border-bottom: solid 2.5px $white_color;
            }
            li:hover:not(.active) {
                border-bottom: solid 2.5px $opacity_color;
            }
            li>a {
                color: $base_menu_color;
            }
            li>a:hover {
                text-decoration: none;
            }
            .active{
                border-bottom: solid 2.5px $base_menu_bg;
            }
            .active a {
                font-weight: 500;
                color: $base_menu_bg;
            }
        }
        // bài đăng xem trước
       
        .profile-post-pre {
            animation-name: remove;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
            animation-play-state: paused;

            line-height: 1.5;
            .pre-post-link-pro {
                color: $base_menu_color;
                font-weight: 500;
            }
            .pre-post-link-ava {
                text-decoration: none;
            }
            .profile-post-pre-image {
                object-fit:cover; 
                border-radius: 3px;
                height: 100px; 
            }
            .update-time, .pre-post-address, .pre-post-description {
                color: $opacity_color;
                font-size: 14px;
            }

            .pre-post-description {
                display: flex;
                span {
                    @extend %title;
                    width: 32em;
                    
                }
            }
            .update-time {
                span {
                    color: $button_color !important;
                }
            }
            .text-capitalize {
                text-decoration: none;
                font-size: 15px;
                font-weight: 500;
                color: $base_menu_color;
                
                cursor: pointer;
            }
            .rent-center {
                position: absolute; 
                top:50%; 
                right: 15px;
                transform: translate(0%, -50%);
                p {
                    margin: 0px;
                    color: $button_hover_color;
                }
            }
        }
        
    
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */

    .modal-content {
        background-color: $white_color;
        margin: auto;
        border-radius: $border_box;
        display: block;
        border: 1px solid $button_color_hover;
        // width: 15%;
        // height: 30%;
        animation-name: grow;
        animation-duration: 1.8s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-content-info {
        animation-name: grow-child;
        animation-duration: 1.9s;
        animation-fill-mode: forwards;
        opacity: 0;

        .motel-row-header {
            background-color: $button_color_hover;
            margin: 0;
            border-radius: $border_box $border_box 0px 0px;

            .modal-content-header {
                font-weight: bold;
            }

        }
        .motel-row-body {
            
            @extend %inputtext;
            
            @extend %inputsubmit;

            
        }
        // #editProBtn {
        //     cursor: pointer;
        // }
    }

}
@keyframes grow {
    0% {
        opacity: 0;
        width: 15%;
        height: 15%;
    }
    20% {
        opacity: 1;
        width: 15%;
        height: 15%;
    }
    40% {
        opacity: 1;
        width: 15%;
        height: 15%;
    }
    
    100% {
        width: 50%;
        height: 60%;
        opacity: 1;
    }
}
@keyframes grow-child {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0.001;
    }
    100% {
        opacity: 1;
    }
}

// Cho trang thêm tin
.create_post {
    color: $base_menu_color;
    padding: 0px;

    input[type=text], input[type=number], input[type=submit],#button_post{
        outline: none;
        border-radius: $border_button;
        height: 32px;
        padding: 0px 12px 0px 12px;
        font-size: 14px;
        cursor: auto;
        border: solid 1px $border_input_color;
    }

    input[type=text]::placeholder, input[type=number]::placeholder {
        color: $border_input_color;
    }
    textarea {
        outline-color: $button_hover_color; 
    }
    input[type=text]:focus, input[type=number]:focus{
        cursor: auto;
        border-color: $button_hover_color;
    }

    .create_post_body{
        background-color: $white_color;
        border-radius: $border_box;
        
        i{
            color: $base_menu_color;
        }


        label {
            padding-left: 0px;
            margin: auto auto auto 0px;
            text-align: center;
            font-weight: 500;
            text-align: left;
        }
        
        .row {
            margin: 0px 0px 0px 0px;
        }
        #create_post_title, #create_post_area {
            border-right: none;
            color: $base_menu_color;
            border-radius: 7px 0px 0px 7px !important;
        }
        #create_post_title {
            width: 95.5%;
            
            position: relative;
        }
        .detailed_address {
            width: 100%;
        }
        #create_post_area {
            width: 10%;
        }
        textarea {
            width: 60%;
            border: solid 1px $border_input_color;
        }
        .form-suffix {
            position: absolute;
            font-size: 13px;
            margin-left: -4px;
            text-align: center;
            border-radius: 0px 7px 7px 0px;
            height: 32px;
            background-color: $white_color;
            border-right: 1px solid $border_input_color;
            border-top: 1px solid $border_input_color;
            border-bottom: 1px solid $border_input_color;
            border-left: none;
            background-color: $button_color_hover;
            
        }
        .form-suffix:hover {
            background-color: $border_input_color;
        }

        .type_post {
            background-color: $body_bg;
            padding: 20px 15px;
            width: 600px;
        
            ul {
                border-top: $white_color solid 7px;
                border-bottom: $white_color solid 7px;
                // width: 250px;
                padding-right: 0px;
                margin-top: auto;
                margin-bottom: auto;
                padding-left: 1px;
                background-color: $white_color;
                

            }
            .first-ul {
                overflow-x: hidden;
                overflow-y: scroll;
            }
            li {
                // width: 200px;
                padding: 7px 14px;
                list-style: none;
            }
            li:hover {
                background-color: $button_color_hover;
                cursor: pointer;
            }
            .type_post_renter {
                position: relative;
                i {
                    position: absolute;
                    right: 10px;
                    color: $border_input_color;
                }
            }
           
        } 
        p>span {
            color: $base_menu_bg;
        }
        .address, .type_post_hidden {
            color: $button_color;
            visibility: hidden;
        }
        .label-radio, .type_post_hidden, .create_post_rent {
            font-weight: normal;
        }
        .classified-info {
            background-color: $body_bg;
            width: 60%;
        }
        input[type=file]::-webkit-file-upload-button {
            display: none;
        }
        input[type=file] {
            width: 77px;
            outline: none;
        }

        .post-image {

            div {
                cursor: pointer;
                font-size: 20px;
                margin-right: 3px;
                position: relative;
                display: inline-block;
            }
            span {
                font-weight: 500;
                cursor: pointer;
                top: 0px;
                position: absolute;
                right: 7px;
            }
            span:hover {
                color: $button_color_2;
            }
            img {
                height: 100px; 
                width: 100px; 
                object-fit:cover;
            }
        }

        input[type=file]::before{
            vertical-align: auto;
            content: 'Ảnh';  
            background-color: $button_color_hover;
            display: inline-block;
            border-radius: $border_button;
            padding: 8px 22px;
            cursor: pointer;
            outline: none;
        }
        input[type=file]:hover::before {
            background-color: $border_input_color;
            transition: 0.3s;
        }

        .other_contact_info {
            background-color: $body_bg;
            width: 55%;
            margin: auto;
        }
     
        
    }
    #create_post_next, #button_post {

        background-color: $base_menu_bg;
        color: $white_color;
        border: none;
        cursor: pointer;
        width: 130px;
        
    }
    #create_post_next:hover, #button_post:hover {
        // background-color: rgb(212, 44, 75);
        opacity: 0.9;
    }
    #create_post_next:disabled, #button_post:disabled {
        opacity: 0.5;
        cursor: pointer;
    }
    #button_save:hover, #button_delete:hover{
        background-color: $button_color_hover;
        cursor: pointer;
    }
    .create_post_head{
        font-size: 19px;
        font-weight: 500;
    }
    #create_post_list_button {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        position: -webkit-sticky;
        position: sticky;
        bottom	: 0;
    }
}
.create_post_head{
        font-size: 19px;
        font-weight: 500;
    }
// Cho trang index

.index {
    
    color: $base_menu_color;
    display: grid;
    grid-template-columns: auto 400px;
    padding: 0px;
    
    .index-avatar {
        object-fit:cover; 
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 1px solid none;

    }
    .index-full-name {
        color: $base_menu_color;
        font-weight: 500;
    }
    .index-saved-posts>.mr-auto {
        font-weight: 500;
        color: $border_input_color;
    }
    a:not(.update-time)  {
        text-decoration: none;
    }

    .fa-bookmark {
        color: $opacity_color;
        cursor: pointer;
        padding: 3px 12px 3px 12px;
        border-radius: $border_box;
    }
    .fa-bookmark::after {
        font-size: 14px;
        content: '  Lưu';
        font-weight: 500;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .far.fa-bookmark::after {
        content: '  Lưu';
    }
    .fas.fa-bookmark::after {
        content: '  Bỏ lưu';
    }
    .fa-bookmark:hover {
        background-color: $button_color_2;

        transition: 0.1s;
    }
    .list_following {
        
        @extend %title;
        width: 15em;
        
    }
    

    
    .list_following>div {

        animation-name: remove;
        animation-duration: 0.4s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
    }
}

// finance

#finance_now {
    font-size: 20px;
    color: $base_menu_bg;
    
}
.finance-form-button {
    text-align: center;
    button {
        margin-top: 20px;
        margin-bottom: 30px;
        height: 32px;
        width: 150px;
        border: none;
        outline: none;
    }
}


.finance {
    color: $base_menu_color;
    display: grid;
    grid-template-columns: 400px auto;
    padding: 0px;
    button {
        text-align: center;
    }
    position: relative;
    
}
#history {
    border-collapse: collapse;
    width: 100%;

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}

}

.is_waiting, .is_success, .is_fail {
    font-size: 12px;
    color: $white_color;
    padding: 3px;
    border-radius: 3px;

}

.is_waiting {
    background-color: #f0ad4e;
}
.is_success {
    background-color: green;
}

.is_fail {
    background-color: red;
}

@keyframes message {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0.8;
    }
    80%  {
        opacity: 0.8;
    }
    100%  {
        opacity: 0;
    }
}

h1 {
    animation-name: grow;
    animation-duration: 14s;
    animation-fill-mode: forwards;
}

.message {
    background-color: $opacity_color;
    color: $button_color;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    // width: 280px;
    padding: auto;
    p {
        margin: 0px;
    }
    animation-name: message;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}