@charset "UTF-8";
.base-body {
  font-size: 15px;
  line-height: 1;
  background-color: #fafafa;
}

input {
  color: #4b4b4b;
}

select {
  border-radius: 7px;
  height: 32px;
  padding: 0px 12px 0px 12px;
  font-size: 14px;
  cursor: auto;
  color: #4b4b4b;
  border: solid 1px #bdc3c7;
  width: 100%;
}

select:focus {
  outline: none;
}

option {
  color: #4b4b4b;
  background: white;
}

option:checked {
  background-color: #bdc3c7;
  color: white;
}

.modal .modal-content-info .motel-row-body input[type=button], .register-body .register form input[type=button], .modal .modal-content-info .motel-row-body input[type=submit], .register-body .register form input[type=submit] {
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f6c90e;
}
.modal .modal-content-info .motel-row-body input[type=button]:hover, .register-body .register form input[type=button]:hover, .modal .modal-content-info .motel-row-body input[type=submit]:hover, .register-body .register form input[type=submit]:hover {
  background-color: #fb0;
  transition: 0.3s;
}

.modal .modal-content-info .motel-row-body input {
  outline: none;
  border-radius: 7px;
  height: 32px;
  padding: 0px 12px 0px 12px;
  font-size: 14px;
  cursor: auto;
  border: solid 1px #e9ebee;
}
.modal .modal-content-info .motel-row-body input:focus {
  outline: none;
  cursor: auto;
  border-color: #bdc3c7;
}

.base-menu {
  line-height: 1;
  font-weight: bold;
  line-height: 1;
  overflow: hidden;
  background-color: #f6c90e;
}
.base-menu .base-menu-right, .base-menu .base-menu-left {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.base-menu .base-menu-left {
  float: left;
}
.base-menu .base-menu-right {
  float: right;
}
.base-menu a:hover, .base-menu a.active {
  color: #4b4b4b;
}
.base-menu .base-menu-avatar-mini {
  width: inherit;
  overflow: hidden;
  margin-top: -4px;
}
.base-menu .search-container {
  float: left;
}
.base-menu .search-container input[type=text] {
  outline: none;
  padding: 6px;
  margin: 6px 0px 6px 10px;
  border: none;
  border-radius: 7px 0px 0px 7px;
  width: 220px;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
}
.base-menu .search-container input[type=text]:focus {
  width: 400px;
}
.base-menu .search-container button {
  border-radius: 0px 7px 7px 0px;
  float: right;
  padding: 9px 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  background: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.base-menu .search-container button i {
  color: #f6c90e;
}
.base-menu .search-container button:hover {
  background: #fafafa;
  transition: 0.3s;
}

.search2 {
  float: left;
  padding: none;
  height: 32px;
  border: 1px solid #e9ebee;
  border-radius: 7px;
}
.search2 input[type=text] {
  outline: none;
  width: 350px;
  padding: 5px 5px 5px 12px;
  border: none;
  border-radius: 7px 0px 0px 7px;
}
.search2 button {
  border-radius: 0px 7px 7px 0px;
  float: right;
  padding: 8px 10px;
  background: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.search2 button i {
  color: #e9ebee;
}
.search2 button:focus {
  outline: none;
}

.search2:hover {
  border-color: #bdc3c7;
  transition: 0.3s;
}

.register-body .base-menu {
  background-color: white;
}
.register-body .base-menu i {
  color: #f6c90e;
  font-size: 30px;
}
.register-body .base-menu p {
  color: #4b4b4b;
  font-size: 20px;
  margin-top: 23px;
  margin-bottom: 0px;
}
.register-body .register {
  background-color: #f6c90e;
}
.register-body .register .register-icon {
  color: white;
  font-size: 150px;
}
.register-body .register .brand {
  color: white;
  font-size: 60px;
  font-family: fantasy;
}
.register-body .register form {
  border-radius: 3%;
}
.register-body .register form input {
  border: 2px solid #bdc3c7;
}
.register-body .register form input[type=submit] {
  width: 100%;
  height: 50px;
  font-weight: bold;
}
.register-body .register form .form-head {
  font-size: 20px;
  color: #4b4b4b;
  font-weight: bold;
}
.register-body .register h1 {
  color: white;
  font-size: 40px;
}

.profile-edit-Btn {
  padding: 9px;
  border: none;
  border-radius: 7px;
  width: 100%;
  background-color: #f5f6f7;
  font-size: 14px;
  cursor: pointer;
}

.profile-edit-Btn:hover {
  background-color: #e9ebee;
  transition: 0.3s;
}

.profile-edit-Btn:focus {
  outline: none;
}

.profile {
  color: #4b4b4b;
  display: grid;
  grid-template-columns: 310px auto;
  padding: 0px;
}
.profile .profile-grid-item .profile-vertical-menu {
  list-style-type: none;
  padding: 0px;
  line-height: 1.5;
}
.profile .profile-grid-item .profile-vertical-menu li {
  padding: 5px 6px 5px 6px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 1px;
  border: 1px solid #fafafa;
}
.profile .profile-grid-item .profile-vertical-menu li:hover:not(.active) {
  border-color: #f5f6f7;
  background-color: white;
}
.profile .profile-grid-item .profile-vertical-menu li:hover:not(.active) a {
  color: #f6c90e;
}
.profile .profile-grid-item .profile-vertical-menu .active {
  font-weight: 500;
  background-color: white;
  border-color: #f5f6f7;
}
.profile .profile-grid-item .profile-vertical-menu .active a {
  color: #f6c90e;
}
.profile .profile-grid-item .profile-vertical-menu li > a {
  color: #4b4b4b;
  text-decoration: none;
}
.profile .profile-grid-item .box {
  background-color: white;
  border-radius: 3px;
}
.profile .profile-grid-item .box .date-join, .profile .profile-grid-item .box .full-name {
  cursor: pointer;
}
.profile .profile-grid-item .box .full-name {
  font-size: 18px;
  font-weight: 500;
}
.profile .profile-grid-item .box i {
  opacity: 0.6;
  margin-right: 3px;
}
.profile .profile-grid-item .box #link-button-create_post {
  display: inline-block;
  border-radius: 3px;
  height: 32px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: none;
  background-color: #f6c90e;
  transition: 0.3s;
}
.profile .profile-grid-item .box #link-button-create_post:hover {
  background-color: #fb0;
}
.profile .profile-grid-item .box .profile-horizontal-menu {
  list-style-type: none;
  padding: 0px;
  margin: none;
  border-bottom: solid 1px #e9ebee;
}
.profile .profile-grid-item .box .profile-horizontal-menu li {
  display: inline-block;
  margin: none;
  padding: 15px 20px 15px 20px;
  border-bottom: solid 2.5px white;
}
.profile .profile-grid-item .box .profile-horizontal-menu li:hover:not(.active) {
  cursor: pointer;
  border-bottom: solid 2.5px #bdc3c7;
}
.profile .profile-grid-item .box .profile-horizontal-menu li > a {
  color: #4b4b4b;
}
.profile .profile-grid-item .box .profile-horizontal-menu li > a:hover {
  text-decoration: none;
}
.profile .profile-grid-item .box .profile-horizontal-menu .active {
  border-bottom: solid 2.5px #f6c90e;
}
.profile .profile-grid-item .box .profile-horizontal-menu .active a {
  font-weight: 500;
  color: #f6c90e;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.2);
  /* Black w/ opacity */
}
.modal .modal-content {
  background-color: white;
  margin: auto;
  border-radius: 3px;
  display: block;
  border: 1px solid #e9ebee;
  animation-name: grow;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.modal .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content-info {
  animation-name: grow-child;
  animation-duration: 1.9s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.modal .modal-content-info .motel-row-header {
  background-color: #e9ebee;
  margin: 0;
  border-radius: 3px 3px 0px 0px;
}
.modal .modal-content-info .motel-row-header .modal-content-header {
  font-weight: bold;
}
@keyframes grow {
  0% {
    opacity: 0;
    width: 15%;
    height: 15%;
  }
  20% {
    opacity: 1;
    width: 15%;
    height: 15%;
  }
  40% {
    opacity: 1;
    width: 15%;
    height: 15%;
  }
  100% {
    width: 50%;
    height: 60%;
    opacity: 1;
  }
}
@keyframes grow-child {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0.001;
  }
  100% {
    opacity: 1;
  }
}
.create_post {
  color: #4b4b4b;
  padding: 0px;
}
.create_post input[type=text], .create_post input[type=number], .create_post input[type=submit], .create_post #button_post {
  outline: none;
  border-radius: 7px;
  height: 32px;
  padding: 0px 12px 0px 12px;
  font-size: 14px;
  cursor: auto;
  border: solid 1px #bdc3c7;
}
.create_post input[type=text]::placeholder, .create_post input[type=number]::placeholder {
  color: #bdc3c7;
}
.create_post textarea {
  outline-color: #fb0;
}
.create_post input[type=text]:focus, .create_post input[type=number]:focus {
  cursor: auto;
  border-color: #fb0;
}
.create_post .create_post_body {
  background-color: white;
  border-radius: 3px;
}
.create_post .create_post_body i {
  color: #4b4b4b;
}
.create_post .create_post_body label {
  padding-left: 0px;
  margin: auto auto auto 0px;
  text-align: center;
  font-weight: 500;
  text-align: left;
}
.create_post .create_post_body .row {
  margin: 0px 0px 0px 0px;
}
.create_post .create_post_body #create_post_title, .create_post .create_post_body #create_post_area {
  border-right: none;
  color: #4b4b4b;
  border-radius: 7px 0px 0px 7px !important;
}
.create_post .create_post_body #create_post_title {
  width: 95.5%;
  position: relative;
}
.create_post .create_post_body .detailed_address {
  width: 100%;
}
.create_post .create_post_body #create_post_area {
  width: 10%;
}
.create_post .create_post_body textarea {
  width: 60%;
  border: solid 1px #bdc3c7;
}
.create_post .create_post_body .form-suffix {
  position: absolute;
  font-size: 13px;
  margin-left: -4px;
  text-align: center;
  border-radius: 0px 7px 7px 0px;
  height: 32px;
  background-color: white;
  border-right: 1px solid #bdc3c7;
  border-top: 1px solid #bdc3c7;
  border-bottom: 1px solid #bdc3c7;
  border-left: none;
  background-color: #e9ebee;
}
.create_post .create_post_body .form-suffix:hover {
  background-color: #bdc3c7;
}
.create_post .create_post_body .type_post {
  background-color: #fafafa;
  padding: 20px 15px;
  width: 600px;
}
.create_post .create_post_body .type_post ul {
  border-top: white solid 7px;
  border-bottom: white solid 7px;
  padding-right: 0px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 1px;
  background-color: white;
}
.create_post .create_post_body .type_post .first-ul {
  overflow-x: hidden;
  overflow-y: scroll;
}
.create_post .create_post_body .type_post li {
  padding: 7px 14px;
  list-style: none;
}
.create_post .create_post_body .type_post li:hover {
  background-color: #e9ebee;
  cursor: pointer;
}
.create_post .create_post_body .type_post .type_post_renter {
  position: relative;
}
.create_post .create_post_body .type_post .type_post_renter i {
  position: absolute;
  right: 10px;
  color: #bdc3c7;
}
.create_post .create_post_body p > span {
  color: #f6c90e;
}
.create_post .create_post_body .address, .create_post .create_post_body .type_post_hidden {
  color: #f6c90e;
  visibility: hidden;
}
.create_post .create_post_body .label-radio, .create_post .create_post_body .type_post_hidden, .create_post .create_post_body .create_post_rent {
  font-weight: normal;
}
.create_post .create_post_body .classified-info {
  background-color: #fafafa;
  width: 60%;
}
.create_post .create_post_body input[type=file]::-webkit-file-upload-button {
  display: none;
}
.create_post .create_post_body input[type=file] {
  width: 77px;
  outline: none;
}
.create_post .create_post_body .post-image {
  position: relative;
}
.create_post .create_post_body input[type=file]::before {
  position: absolute;
  bottom: 0%;
  content: "Ảnh";
  background-color: #e9ebee;
  display: inline-block;
  border-radius: 7px;
  padding: 8px 22px;
  cursor: pointer;
  outline: none;
}
.create_post .create_post_body input[type=file]:hover::before {
  background-color: #bdc3c7;
  transition: 0.3s;
}
.create_post .create_post_body .other_contact_info {
  background-color: #fafafa;
  width: 55%;
  margin: auto;
}
.create_post #create_post_next, .create_post #button_post {
  background-color: #f6c90e;
  color: white;
  border: none;
  cursor: pointer;
  width: 130px;
}
.create_post #create_post_next:hover, .create_post #button_post:hover {
  background-color: #f5b504;
}
.create_post #create_post_next:disabled, .create_post #button_post:disabled {
  opacity: 0.5;
  cursor: pointer;
}
.create_post #button_save:hover, .create_post #button_delete:hover {
  background-color: #e9ebee;
  cursor: pointer;
}
.create_post .create_post_head {
  font-size: 19px;
  font-weight: 500;
}
.create_post #create_post_list_button {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
